* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}
.card {
  height: 330px;
  width: 300px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 20px 20px;
}

.Parent {
  width: 100%;
  background-color: black;
  padding: 30px;
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 30px;
}

.top img {
  height: 40px; 
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}

.top button {
  display: flex;
  align-items: center;
  gap: 6px;
  border: 1px solid #dadada;
  padding: 6px 12px;
  border-radius: 5px;
  background-color: transparent;
  color: #b1b1b1;
} 

.center {
}
.center h3 {
  font-size: 17px;
  font-weight: 500;
}
.center h3 span{
  font-size: 9px;
  font-weight: 400;
  color: #8b8b8b;
}

.center h2 {
  font-size: 20px;
}
.center .tag {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}
.center .tag h4 {
  border-radius: 5px;
  font-size: 14px;
  background-color: #dadada;
  color: black;
  font-weight: 400;
  padding: 3px 6px;
}


.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #b1b1b1;
  padding-top: 15px;

}

.bottom button {
  background-color: black;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  column-width: 600;
}
.bottom h2 {
  font-size: 17px;
}

.bottom p {
  font-size: 14px;
  color: #8b8b8b;
}